:root {
  --calendar-bg-colour: rgba(255, 255, 255, 0.9);
}

.standings-container {
}

.standings-feature {
  display: grid;
  padding: 1em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  column-gap: 12em;
  row-gap: 1em;
}

.standings-item {
  color: var(--main-bg-colour);
  background-color: var(--calendar-bg-colour);
  padding: 1em;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}
.standings-item:nth-child(2n + 1) {
}

.standings-date-wrapper {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--calendar-bg-colour);
  border: 1px solid var(--main-bg-colour);
  background-color: var(--main-bg-colour);
  padding: 0.2em;
}

.standings-practice {
  color: var(--calendar-bg-colour);
  background-color: var(--main-bg-colour);
  font-size: 0.9rem;
  padding: 0.4em;
}
.standings-practice sup {
  font-weight: bold;
}

.standings-bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 3em 3em;
}

.standings-round-completed {
  font-size: 2rem;
  color: var(--danger);
}

.standing-points {
  background-color: var(--border-colour);
  color: var(--main-font-colour);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.2em;
  border-left: 8px solid var(--danger);
  background-color: var(--border-colour);
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      var(--border-colour) 10px
    ),
    repeating-linear-gradient(var(--border-colour), var(--border-colour-light));
}

.standings-image-wrapper {
  border: var(--border-colour) 1px solid;
  border-top-right-radius: var(--image-border-radius);
  border-bottom-left-radius: var(--image-border-radius);
  width: 30%;
}
