:root {
  --calendar-bg-colour: rgba(255, 255, 255, 0.9);
}

.calendar-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

.calendar-feature {
  display: grid;
  padding: 1em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 12em;
  row-gap: 1em;
}

.calendar-item {
  color: var(--main-bg-colour);
  background-color: var(--calendar-bg-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.calendar-date-wrapper {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--calendar-bg-colour);
  border: 1px solid var(--main-bg-colour);
  background-color: var(--main-bg-colour);
  padding: 0.2em;
}

.calendar-practice {
  color: var(--calendar-bg-colour);
  background-color: var(--main-bg-colour);
  font-size: 0.9rem;
  padding: 0.4em;
}
.calendar-practice sup {
  font-weight: bold;
}

.calendar-bg {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 3em 3em;
}

.calendar-round-completed {
  font-size: 2rem;
  color: var(--danger);
}
