p {
  font-size: 16px;
  font-size: clamp(1rem, 1.25vh, 1.25rem);
  font-size: max(1rem, 1vw);
  text-align: left;
  margin-bottom: 0.5rem;
  line-height: 1.6rem;
}

.content_height_adjuster {
  background-color: var(--background-color);
  background-color: rgba(220, 220, 220, 0.3);
  height: calc(100vh - var(--header-height) - var(--footer-height));
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Helper classes */
.small-text {
  font-size: 0.6em;
}
.center-text {
  text-align: center;
}
.border-temp {
  border: 2px solid green;
}

fieldset.fieldSet {
  display: block;
  border: 1px solid var(--muted-color);
  background-color: var(--background-color);
  /* background-color: transparent; */
  flex-grow: 1;
}
fieldset legend {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: black;
}
.race-result-circle {
  width: 1.4em;
  height: 1.4em;
  line-height: 1.4em;
  border-radius: 50%;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  background: #000;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
}
